# ==============================================================================
# AI Core Windows Local - Environment Variables
# ==============================================================================

# Model conversion
CONFIG_INFER=config/config_infer.txt
MODEL_ENGINE_PATH=pretrained/model_trt.engine
MODEL_ONNX_PATH=pretrained/model_trt.onnx
MODEL_PTH_PATH=pretrained/ocsort_x_mot20.pth.tar
TRT_FP16=1
TRT_WORKSPACE_MB=4096

# Logging
LOG_LEVEL=DEBUG
